<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design System - CoM</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  
    <link rel="stylesheet" href="{{ "/assets/css/auto-complete.css" | prepend: site.github.url}} ">
    <script src="{{ "//assets/js/auto-complete.js" | prepend: site.github.url}} "></script>    
    <script defer src="{{ "//assets/js/search.js" | prepend: site.github.url}} "></script>
    <script src="{{ "//assets/js/lunr.min.js" | prepend: site.github.url}} "></script>

    <script>
        let PAGES = {
         {% for post in site.pages %}
            "{{ post.url | slugify }}": {
              "title": "{{ post.title | xml_escape }}",
              "author": "{{ post.author | xml_escape }}",
              "category": "{{ post.category | xml_escape }}",
              "content": {{ post.content | strip_html | strip_newlines | jsonify }},
              "url": "{{ post.url | xml_escape }}"
            }
            {% unless forloop.last %},{% endunless %}
          {% endfor %}  
      }   
                                       
      let idx = lunr(function () {
                    this.field('id');
                    this.field('title', { boost: 10 });
                    this.field('author');
                    this.field('category');
                    this.field('content');
                  });     
       
       for (var key in PAGES) { // Add the data to lunr
                idx.add({
                  'id': key,
                  'title': PAGES[key].title,
                  'author': PAGES[key].author,
                  'category': PAGES[key].category,
                  'content': PAGES[key].content
                });
       }                                       
  </script> 

</head>
<body>
    <!-- START NAV -->
    <nav class="navbar is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="{{site.github.url}}">
                  <img src="{{ "/assets/img/logo.svg" | prepend: site.github.url }}" alt="logo" width="200" height="auto">
                </a>
            </div>
             <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                      <input id="content-search" class="input" type="text" placeholder="Search">                      
                  </p>                   
                </div>
              </div>
            </div>
        </div>
    </nav>
  
    <!-- END NAV -->
    <div class="container" style="height: calc(100vh - 50px);">
      <div class="columns is-gapless content-columns">
        <aside class="column is-3 menu">
          <div class="menu-container">
              {% for section in site.data.sections %}
                <p class="menu-section">{{ section.title }}</p>
                <ul>
                {% for sub in section.subsections %}
                    {% for p in site.pages %}
                       {% assign suburl = sub.link | append: '.html' %}
                       {% if suburl == p.url %}
                        <li class="menu-item" ><a  class="{% if page.url contains suburl %}is-active{% endif %}" href="{{p.url | prepend: site.github.url }}"> {{p.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
              {% endfor %}
          </div>
        </aside>
        <main class="column is-9 ">          
          <div class="main-container markdown">
            <h1>{{page.title}}</h1>
            {{content}}
          </div>
        </main>
      </div>
    </div>
    <script>     
    
    new autoComplete({
      selector: '#content-search',
      minChars: 2,
      source: function(term, suggest) {        
        term = term.toLowerCase();        
        var results = idx.search(term);
        if(results!=undefined)
            suggest(getAutoCompleteSearchResults(results,PAGES)); 
      },
       renderItem: function (item, search){        
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        var dataUrl="/search.html?query="+search;         
        return '<div class="autocomplete-suggestion" data-url="'+dataUrl+'">'+item.replace(re, "<b>$1</b>")+'</div>';
         
    },
      onSelect: function(e, term, item){          
       window.location.href = item.getAttribute('data-url');
      }
    });
   
 
                     
                     
  </script>
  </body>
</html>
